<% @page_title = "マイページ" %>
<br><br>
<h1>マイページ</h1>
<br><br>

<%= image_tag(@user.picture_url, :class => 'user_image' ) if @user.picture.present? %>
<br><br><br>
<h1><%= @user.name %></h1>
<h3>学類：<%= @user.gakurui %></h3>
<h3>学年：<%= @user.gakunen %></h3>
<h3>性別：<%= @user.sex %></h3>
<h3>サークル：<%= @user.circle %></h3>
<h3>バイト：<%= @user.bite %></h3>
<h3>生年月日：<%= @user.birthday %></h3>
<h3>趣味：<%= @user.hobby %></h3>
<h3>ひとこと：<%= @user.comment %></h3>

<br><br><br><br><br>
<% if current_user?(@user) %>
<p><%= link_to '編集', edit_user_path %></p>
<br>
<h1>参加しているコミュニティ一覧</h1>
<table border = "1">
  <tbody>
        <% @user.communities.uniq.each do |community| %>
        　<tr>
            <td><%= community.name %></td>
            <td><%= link_to 'チャットルームへ', :controller => "rooms", :action=>"show" %></td>
            <td><%= link_to "退出",community_delete_path(community),method: :delete %></td>  
            <td><%= link_to '詳細', community %></td>
          </tr>
        <% end %>
  </tbody>
</table>

<% end %>
